<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>BestXI | Player Details</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
            />
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
            integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
            crossorigin="anonymous"
            />
        <style>
            body {
                text-align: center;
                background-color: #eef0fd;
                height: 100%;
            }
            .navbar {
                background-color: #1b4a78;
                color: #eef0fd;
            }

            .header-display {
                justify-content: center;
            }

            .thead,
            .card-header {
                background-color: #1b4a78 !important;
                color: #eef0fd;
            }

            .table-link {
                color: black;
                text-decoration: none;
            }

            .btn-primary,
            .btn-outline-primary:hover {
                background-color: #1b4a78 !important;
                border-color: #1b4a78;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark mb-3 py-1">
            <div class="container">
                <a href="/" class="navbar-brand">
                    BestXI
                </a>
                <div>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link">
                                <i class="fas fa-home"></i> Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/team" class="nav-link">
                                <i class="fas fa-futbol"></i> Team
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/add" class="nav-link">
                                <i class="fas fa-plus"></i> Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/account" class="nav-link">
                                <i class="fas fa-user-cog"></i> Account
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row header-display">
                <h1 class="display-4 my-3">
                    Player <span style="color: #ad301f;">Details</span>
                </h1>
            </div>
            
            <div class="col-12 m-1 text-center" 
                 th:if="${!errors.isEmpty()}">
                <p class="alert alert-danger" 
                   th:each="error : ${errors}" th:text="${error.message}">Error message</p>
            </div>
            
            <div class="row">
                <div class="col-sm-6">
                    <div class="card mb-2">
                        <div class="card-header">Player Season Stats</div>
                        <div class="card-body">
                            <h5><span th:text="${#lists.size(games)}"></span> Games Played This Season</h5>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="shots">Shots</label>
                                    <input
                                        type="number"
                                        min="0"
                                        th:value="${seasonStats.shots}"
                                        class="form-control"
                                        id="shots"
                                        name="shots"
                                        readonly
                                        placeholder="Shots..."
                                        />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="goals">Goals</label>
                                    <input
                                        type="number"
                                        min="0"
                                        th:value="${seasonStats.goals}"
                                        class="form-control"
                                        id="goals"
                                        name="goals"
                                        readonly
                                        placeholder="Goals..."
                                        />
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="assists">Assists</label>
                                    <input
                                        type="number"
                                        min="0"
                                        th:value="${seasonStats.assists}"
                                        class="form-control"
                                        id="assists"
                                        name="assists"
                                        readonly
                                        placeholder="Assists..."
                                        />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="dribbles">Dribbles</label>
                                    <input
                                        type="number"
                                        min="0"
                                        th:value="${seasonStats.dribbles}"
                                        class="form-control"
                                        id="dribbles"
                                        name="dribbles"
                                        readonly
                                        placeholder="Dribbles..."
                                        />
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="passes">Passes</label>
                                    <input
                                        type="number"
                                        min="0"
                                        th:value="${seasonStats.passes}"
                                        class="form-control"
                                        id="passes"
                                        name="passes"
                                        readonly
                                        placeholder="Passes..."
                                        />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="passpercentage">
                                        Average Pass Completion %
                                    </label>
                                    <input
                                        type="number"
                                        min="0"
                                        max="100"
                                        th:value="${seasonStats.passpercentage}"
                                        class="form-control"
                                        id="passpercentage"
                                        name="passpercentage"
                                        readonly
                                        placeholder="Pass Completion..."
                                        />
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="tackles">Tackles</label>
                                    <input
                                        type="number"
                                        min="0"
                                        th:value="${seasonStats.tackles}"
                                        class="form-control"
                                        id="tackles"
                                        name="tackles"
                                        readonly
                                        placeholder="Tackles..."
                                        />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="interceptions">Interceptions</label>
                                    <input
                                        type="number"
                                        min="0"
                                        th:value="${seasonStats.interceptions}"
                                        class="form-control"
                                        id="interceptions"
                                        name="interceptions"
                                        readonly
                                        placeholder="Interceptions..."
                                        />
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="shotsdefensed">Shots Defensed</label>
                                    <input
                                        type="number"
                                        min="0"
                                        th:value="${seasonStats.shotsdefensed}"
                                        class="form-control"
                                        id="shotsdefensed"
                                        name="shotsdefensed"
                                        readonly
                                        placeholder="Shots Defensed..."
                                        />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="shotssaved">Shots Saved</label>
                                    <input
                                        type="number"
                                        min="0"
                                        th:value="${seasonStats.shotssaved}"
                                        class="form-control"
                                        id="shotssaved"
                                        name="shotssaved"
                                        readonly
                                        placeholder="Shots Saved..."
                                        />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="goalsallowed">Goals Allowed</label>
                                <input
                                    type="number"
                                    min="0"
                                    th:value="${seasonStats.goalsallowed}"
                                    class="form-control"
                                    id="goalsallowed"
                                    name="goalsallowed"
                                    readonly
                                    placeholder="Goals Allowed..."
                                    />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card mb-2">
                        <div class="card-header">Update Player</div>
                        <div class="card-body">
                            <form type="form" action="editPlayer" method="POST">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="firstname">First Name</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="firstname"
                                            name="firstname"
                                            th:value="${player.firstname}"
                                            placeholder="First Name..."
                                            />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="lastname">Last Name</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="lastname"
                                            name="lastname"
                                            th:value="${player.lastname}"
                                            placeholder="Last Name..."
                                            />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="height">Height (inches)</label>
                                        <input
                                            type="number"
                                            min="0"
                                            class="form-control"
                                            id="height"
                                            name="height"
                                            th:value="${player.height}"
                                            placeholder="Height..."
                                            />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="weight">Weight (lbs)</label>
                                        <input
                                            type="number"
                                            min="0"
                                            class="form-control"
                                            id="weight"
                                            name="weight"
                                            th:value="${player.weight}"
                                            placeholder="Weight..."
                                            />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="playerposition">Player Position</label>
                                        <select
                                            id="playerposition"
                                            name="playerposition"
                                            class="form-control"
                                            >
                                           <option 
                                                th:each="playerposition: ${playerpositions}"
                                                th:text="${playerposition}"
                                                th:value="${playerposition}"
                                                th:selected="${playerposition==player.playerposition}">Choose Player Position...</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="dominantfoot">Dominant Foot</label>
                                        <select
                                            id="dominantfoot"
                                            name="dominantfoot"
                                            class="form-control"
                                            >
                                            <option 
                                                th:each="dominantfoot: ${dominantfoot}"
                                                th:text="${dominantfoot}"
                                                th:value="${dominantfoot}"
                                                th:selected="${dominantfoot==player.dominantfoot}">Choose Dominant Foot...</option>

                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input
                                        type="number"
                                        min="0"
                                        class="form-control"
                                        id="playerid"
                                        name="playerid"
                                        th:value="${player.playerid}"
                                        hidden
                                        />
                                </div>
                                <div class="form-group">
                                    <input
                                        type="number"
                                        min="0"
                                        class="form-control"
                                        id="teamid"
                                        name="teamid"
                                        th:value="${player.teamid}"
                                        hidden
                                        />
                                </div>

                                <button type="submit" class="btn btn-primary">
                                    Update Player
                                </button>
                                <a class="btn btn-danger" th:href="@{/deleteplayer(id=${player.playerid})}">Delete Player</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
                        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
