<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>BestXI | Team Portal</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <link
                rel="stylesheet"
                href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
                integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
                crossorigin="anonymous"
                />
            <style>
                body {
                    text-align: center;
                    background-color: #eef0fd;
                    height: 100%;
                }
                .navbar {
                    background-color: #1b4a78;
                    color: #eef0fd;
                }

                .header-display {
                    justify-content: center;
                }

                .thead,
                .card-header {
                    background-color: #1b4a78 !important;
                    color: #eef0fd;
                }

                .table-link {
                    color: black;
                    text-decoration: none;
                }

                .btn-primary,
                .btn-outline-primary:hover {
                    background-color: #1b4a78 !important;
                    border-color: #1b4a78;
                }

            </style>
    </head>
    <body>  
        <nav class="navbar navbar-expand-sm navbar-dark mb-3 py-1">
            <div class="container">
                <a href="/" class="navbar-brand">
                    BestXI
                </a>
                <div>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link">
                                <i class="fas fa-home"></i> Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/team" class="nav-link">
                                <i class="fas fa-futbol"></i> Team
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/add" class="nav-link">
                                <i class="fas fa-plus"></i> Add
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/account" class="nav-link">
                                <i class="fas fa-user-cog"></i> Account
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row header-display">
                <h1 class="display-4 my-3">
                    <span style="color: #ad301f" >Team</span>
                    Portal
                </h1>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center mb-5">
                        <div class="card-header">Your BestXI</div>
                        <div class="card-body">
                            <h5 class="card-title">Let us help set your starting lineup</h5>
                            <a th:href="@{/bestxi(id=${team.teamid})}" class="btn btn-outline-primary">Build Your BestXI</a>
                        </div>
                    </div>
                    <div class="card text-center mb-5">
                        <div class="card-header">Latest Game</div>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${latestGame.teamscore} +' - '+ ${latestGame.opponentscore} +' '+${latestGame.result} +' vs ' + ${latestGame.opponent} "></h5>
                            <p class="card-text" th:text="${latestGame.gamedate} + ' - ' + ${latestGame.gamelocation}"></p>
                            <a th:href="@{/teamgameinfo(id=${latestGame.teamgameid})}" class="btn btn-outline-primary">Game Details</a>
                        </div>
                    </div>
                    <div class="card text-center">
                        <div class="card-header">Top Goalscorers</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" th:text="${topScorers.get(0)}"></li>
                            <li class="list-group-item" th:text="${topScorers.get(1)}"></li>
                            <li class="list-group-item" th:text="${topScorers.get(2)}"></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-8">
                    <div class="card">
                        <div class="card-header">Current Roster</div>
                    </div>
                    <table class="table table-striped table-bordered table-hover table-light">
                        <thead class="thead" id="table-header">
                            <tr>
                                <th scope="col">Player Name</th>
                                <th scope="col">Position</th>
                                <th scope="col">Dominant Foot</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="player: ${players}">
                                <td scope="row" > <a href="#" th:href="@{/playerinfo(id=${player.playerid})}" th:text="${player.firstname} +' ' + ${player.lastname}"></a></td>
                                <td scope="row" th:text="${player.playerposition}"> </td>
                                <td scope="row" th:text="${player.dominantfoot}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <div class="card">
                        <div class="card-header">All Games</div>
                    </div>
                    <table class="table table-striped table-bordered table-hover table-light">
                        <thead class="thead" id="table-header">
                            <tr>
                                <th scope="col">Opponent</th>
                                <th scope="col">Location</th>
                                <th scope="col">Result</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="game: ${allgames}">
                                <td scope="row" th:text="${game.opponent}"></td>
                                <td scope="row" th:text="${game.gamelocation}"> </td>
                                <td scope="row" th:text="${game.result}"></td>
                                <td> <a href="#" th:href="@{/teamgameinfo(id=${game.teamgameid})}" class="btn btn-primary">Game Details</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>





